/*
* Author: Craig Reimer
* Last Updated: 12/14/2023
*/

/* Landing Page Styles */
h1 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.intro {
    align-items: center;
}

.intro img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    padding: 0 2em;
    margin: 1.5em;
    object-fit: cover;
}

#exposure img,
#connect img {
    width: 50px;
    height: 50px;
    margin: 1em;
}

.custom-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    transition: transform 0.3s ease-in-out;
    width: auto;
    height: 115px;
    margin: 1em;
    text-align: center;
}

.custom-card:hover {
    transform: translateY(-10px);
}

/*  Custom Styling  */

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    overflow: auto;
}

/*  Footer Styling  */

footer {
    font-size: 0.75em;
    padding: 1em;
    margin-top: 1em;
}
