/*
* Author: Craig Reimer
* First Published: 11/15/2023
* Last Updated: 3/15/2024
* Purpose: This is a developer portfolio site for the author.
*/

/* Media Queries */

/* Landing Page Styles */
.y-centered {
    display: flex;
    align-items: center;
}

body {
    min-width: 350px;
    max-height: 130vh;
    overflow-x: hidden;
}
section {
    min-width: 350px;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 5%;
    z-index: 99;
}

h1 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    max-width: 1100px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.logo-image {
    position: fixed;
    top: 30%;
}

.intro-img {
    border-radius: 50%;
    min-width: 350px;
    min-height: 350px;
    padding: 0 2em;
    margin: 1.5em;
    object-fit: cover;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#exposure img,
#connect img {
    width: 50px;
    height: 50px;
    margin: 1em;
}

.my-rounded {
    border-radius: 10px;
}

.icon-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #c9c9e9;
    color: #212334;
    transition: transform 0.3s ease-in-out;
    min-width: 100px;
    max-width: 100px;
    height: 145px;
    margin: 0.75em;

    text-align: center;
    align-items: center;
}

.icon-card:hover {
    transform: translateY(15px);
}

/*  Section Styles  */

.landing-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    z-index: 10;
    animation: pushToBackground 1s forwards;
}

.about-section {
    min-height: 70vh;
    background-color: #212334;
    position: relative;
    z-index: 10;
}

.exposure-section {
    min-height: 50vh;
    background-color: #212334;
    position: relative;
    z-index: 10;
}

.connect-section {
    min-height: 50vh;
    background-color: #212334;
    position: relative;
    z-index: 10;
}

/*  Color Palette Styling  */

.bg-split {
    background: linear-gradient(90deg, #556b2f 65%, #4b4b65 35%);
}

.fill-light {
    background-color: #e7e6c5;
}

.fill-light-accent {
    background-color: #4b4b65;
}

.fill-dark {
    background-color: #212334;
}

.text-light {
    color: #e7e6c5;
}

.text-main {
    color: #556b2f;
}

.text-dark {
    color: #212334;
}

.border-accent {
    border-style: dotted;
    border-color: #c59aa1;
}

.btn-outline-secondary {
    color: #4fb6bc;
    border-color: #4fb6bc;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #c59aa1;
    border-color: #c59aa1;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #c59aa1;
    border-color: #c59aa1;
}

a {
    color: #4fb6bc;
}

a:hover {
    color: #c59aa1;
}

/* Hamburger Icon Color Styling */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(79,182,188, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*  Footer Styling  */

footer {
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
}

/*  Content Section  */
.content-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInAnimation 2.25s ease-out 0.75s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    25% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pushToBackground {
    0% {
        z-index: 1;
    }
    100% {
        z-index: -10;
    }
}
